{%- set app_root_dir = APPS_ROOT|replace('"','') + "/" + APP_SVC_NAME|replace('"','') -%}
{%- set app_svc_fqdn = APP_SVC_FQDN | replace('"','') -%}

server {
    listen {{ APP_PORT01_HOST }};
    root {{ app_root_dir }};
    index index.php index.html index.htm;
    server_name {{ app_svc_fqdn }};
    client_max_body_size 500M;

    location / {
        try_files \$uri \$uri/ /index.php?\$args;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location ~*.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location ~ \.php$ {
         include snippets/fastcgi-php.conf;
         fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
         fastcgi_param SCRIPT_FILENAME \$document_root\$fastcgi_script_name;
         include fastcgi_params;
    }
}
