{%- set db_name = DBA_DB01_NAME | replace('"','') -%}
{%- set db_user = DBA_DB01_USER | replace('"','') -%}
{%- set db_password = DBA_DB01_PWD | replace('"','') -%}
{%- set dba_net_root = DBA_NET_ROOT | replace('"','') -%}
{%- set dba_host_ip = DBA_NET_IPMIN | int + 1 -%}
{%- set dba_host_ip = dba_host_ip | string -%}
{%- set db_host = dba_net_root + "." + dba_host_ip -%}
{%- set table_prefix = APP_TBL_PREFIX | replace('"','') -%}
<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/documentation/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ db_name }}' );

/** Database username */
define( 'DB_USER', '{{ db_user }}' );

/** Database password */
define( 'DB_PASSWORD', '{{ db_password }}' );

/** Database hostname */
define( 'DB_HOST', '{{ db_host }}' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
/** FIXME Auto-generate random keys */
define( 'AUTH_KEY',         'ZqRGi99nNfQSd+OWnutazRlDdiZsy7MsupsOX7bX8v8' );
define( 'SECURE_AUTH_KEY',  'bQN+rqLGI1oFhrn1tsIxw6Av94/kvTh4313+PJ16R84' );
define( 'LOGGED_IN_KEY',    'GiE8UYCK+W3MTuZ00yulBNdlliRIcR7/P7hCETZCNag' );
define( 'NONCE_KEY',        'DjFDBjvNLYUVJSTscd/P80GjwAEoyWapMdRmFQ9X0Ok' );
define( 'AUTH_SALT',        'opT34SW4KhPQ73fEAmzQvaTdm3VB6GTE/MoPXYwEbhk' );
define( 'SECURE_AUTH_SALT', 'nz32Q4grpqKI84xO50LCUDZib1lZvxLluXLfIsbOO+4' );
define( 'LOGGED_IN_SALT',   'wHVpicZqLB/21Q+NjbhnXLrrnsZSalBGsHXK8yRJhCc' );
define( 'NONCE_SALT',       'SEyUyTXIde8OiB4p7BZJYndJ1ZYGeNi7CeuiYydHpvs' );

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = '{{ table_prefix }}';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/documentation/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* Add any custom values between this line and the "stop editing" line. */

# Gracefully handle terminated SSL at reverse proxy by avoiding redirect loop
if (strpos($_SERVER['HTTP_X_FORWARDED_PROTO'], 'https') !== false) {
    $_SERVER['HTTPS'] = 'on';
}

# When behind proxy, reveal originating IP address to WordPress
if (isset($_SERVER['HTTP_X_FORWARDED_FOR'])) 
{
    $forwardedForHeaders = explode( ',', $_SERVER['HTTP_X_FORWARDED_FOR'] );
    $_SERVER['REMOTE_ADDR'] = $forwardedForHeaders[0];
}


/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
		define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
