{%- set is_true = ["on","y","yes","1","true"] -%}
{%- set is_false = ["off","n","no","0","false"] -%}
{%- set lba_hosts_num = PXY_HOSTS_NUM | int -%}
{%- set lba_lb_alg = PXY_LB_ALG | replace('"','') -%}
{%- set app_net_root = APP_NET_ROOT | replace('"','') -%}
{%- set app_hosts_num = APP_HOSTS_NUM | int -%}
{%- set app_net_ipmin = APP_NET_IPMIN | int -%}
{%- if PXY_SSL_ON | replace('"','') | lower in is_true -%}
    {%- set lba_ssl_on = true -%}
{%- else -%}
    {%- set lba_ssl_on = false -%}
{%- endif -%}
{%- set app_svc_fqdn = APP_SVC_FQDN | replace('"','') -%}
{%- set app_crt_name = APP_CRT_NAME | replace('"','') -%}
proxy_http_version 1.1;
proxy_cache_bypass $http_upgrade;

proxy_set_header Upgrade $http_upgrade;
proxy_set_header Connection "upgrade";
proxy_set_header Host $host;
proxy_set_header X-Real-IP $remote_addr;
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header X-Forwarded-Proto $scheme;
proxy_set_header X-Forwarded-Host $host;
proxy_set_header X-Forwarded-Port $server_port;

proxy_connect_timeout   90;
proxy_send_timeout      90;
proxy_read_timeout      90;
proxy_buffers           32 4k;

client_max_body_size    10m;
client_body_buffer_size 128k;

upstream backend {
    {%- if lba_hosts_num >= 2 %}
        {%- if lba_lb_alg != '' %}
    {{ lba_lb_alg }};
        {%- endif %}
    {%- endif %}
    {%- for i in range(app_hosts_num) %}
    server {{ app_net_root }}.{{ app_net_ipmin + i + 1 }};
    {%- endfor %}
}

{% if lba_ssl_on == true -%}
## Following Mozilla Guideline v5.7, nginx 1.18, OpenSSL 1.1.1f,
## modern configuration, on 2023-10-24
## https://ssl-config.mozilla.org/#server=nginx&version=1.18&config=modern&openssl=1.1.1f&guideline=5.7
server {
    listen {{ PXY_PORT01_GUEST }} default_server;
    listen [::]:{{ PXY_PORT01_GUEST }} default_server;
    server_name {{ app_svc_fqdn }};

    location / {
        return 301 https://{{ app_svc_fqdn }}\$request_uri;
    }
}
server {
    listen {{ PXY_PORT02_GUEST }} ssl http2;
    listen [::]:{{ PXY_PORT02_GUEST }} ssl http2;
    server_name {{ app_svc_fqdn }};

    ssl_certificate      ssl/{{ app_crt_name }}/cert.pem;
    ssl_certificate_key  ssl/{{ app_crt_name }}/privkey.pem;
    ssl_session_timeout  1d;
    ssl_session_cache    shared:SSL:10m;    # about 40000 sessions
    #ssl_session_cache    shared:MozSSL:10m;    # about 40000 sessions
    ssl_session_tickets  off;

    ## Modern configuration
    ## TLSv1.3 requires OpenSSL v1.1.1+, check with 'openssl version'
    ssl_protocols        TLSv1.3;
    ssl_prefer_server_ciphers off;

    ## HSTS (ngx_http_headers_module is required) (63072000 seconds)
    add_header Strict-Transport-Security "max-age=63072000" always;

    ## OCSP stapling
    ssl_stapling on;
    ssl_stapling_verify on;
    ## verify chain of trust of OCSP response using Root CA and
    ## Intermediate certs
    ssl_trusted_certificate ssl/{{ app_crt_name }}/fullchain.pem;

    # replace with the IP address of your resolver
    resolver 127.0.0.1;

    keepalive_timeout    60;

    location / {
        proxy_pass "http://backend/";
    }
}
{% else -%}
server {
    listen {{ PXY_PORT01_GUEST }};
    listen [::]:{{ PXY_PORT01_GUEST }};
    server_name {{ app_svc_fqdn }};
    location / {
        proxy_pass "http://backend/";
    }
}
{% endif -%}
